@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700,900&display=swap');

:root {
  font-family: Montserrat;
}

.top-section {
  padding: 15px;
}

.mid-section {
  justify-content: center;
  display: flex;
  margin-top: 1em;
  background-color: rgba(0, 0, 0, 0.4); /* Adjust the last value (0.7) to control the opacity */
  width: auto;
  height: 120px;
  color: white;
  align-items: center;
}

span {
  font-size: 14px;
  margin-top: 6px;
}

svg {
  margin-bottom: 5px;
}

.weather-desc {
  display: flex;
  justify-content: center;
}

.weather-details  {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  padding: 4px;
}

.svg-items {
  padding: 1px;
  margin: 1px;
  fill: #000;
  border-radius: 2px;
  border-color: black;
  flex-direction: column;
  display: flex;
  align-items: center;
  font-size: 10px;
}

.weather-details-box {
  background-color: rgba(200, 200, 200, 0.2); 
  border-radius: 10px; 
  padding: 9px;
  height: 5em;
  width: 5.5em;
  margin: 4px;
  backdrop-filter: blur(1px);
  box-shadow: 0 2px 11px rgba(0, 0, 0, 0.2);
  border-radius: 12px;
  border: none;
  cursor: pointer;
  outline: none;
  transition: background-color 0.2s, transform 0.3s; 
}

.weather-details-box:hover {
  background-color: rgba(230, 230, 230, 0.1); 
  backdrop-filter: blur(4px);
  transform: scale(1.1);
}

.last-section {
  display: flex;
  padding: 5px; 
  margin-bottom: 2px;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;

}

.middle-section {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-top: 1em;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #f0f0f0;
  position: relative;
}

#map {
  height: 80%;
  width: 80%;
  display: flex;
  position: relative;
}


.widget-container {
  width: 612px;
  height: 412px;
  display: block;
  background-color: #D9AFD9;
  background-image: linear-gradient(61deg, #D9AFD9 0%, #97D9E1 100%);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  margin: 0 auto;
  margin-top: 5%;
  margin-bottom: 5%;
}

.top-left {
  height: 60%;
  width: 33%;
  padding: 55px 0 0 30px;
  display: inline-block;
}

#top-right {
    height: 71.79%;
    width: 61.2%;
    float: right;
    display: block;
    position: relative;
}

#img-weather {
  z-index: 0;
  position: absolute;
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.bottom-left {
  height: 18%;
  width: 30%;
  float: left;
  margin: 0;
  padding: 15px 0 0 50px;
}

.bottom-right {
  height: 0%;
  width: 40%;
  float: right;
  padding: 10px 0 0 60px;
  margin-right: 10%;
}

h1,
h2,
h3,
p {
  margin: 0;
  padding: 0;
}

#city {
  font-weight: 500;
  font-size: 25px;
  justify-content: center;
  display: flex;
  margin-top: 15px;
}

#day {
  font-weight: 500px;
  font-size: 20px;
  margin-top: 5px;
  text-align: left;
  
}

.date-container {
  position: relative;
  display: flex;
  justify-content: space-between;
}

#date {
  font-weight: 500;
  font-size: 16px;
  margin-top: 7px;
  margin-left: 5px;
  text-align: right;

}

#time {
  font-weight: 400;
  font-size: 18px;
  margin-top: 8px;
}

.top-left > a {
  text-decoration: none;
  color: white;
}

#weather-status {
  font-size: 22px;
  font-weight: 500;
  text-align: center;
  margin: 0 auto;
  color: white;
  z-index: 0;
  position: relative;
  margin-top: 4%;
}

.top-right > img {
  width: 120px;
  height: 120px;
  display: block;
  margin: 15px auto 0 auto;
}

.horizontal-half-divider {
  width: 100%;
  height: 3px;
  margin-top: -5px;
  background-color: white;
}

#temperature,
#celsius,
#fahrenheit {
  display: inline;
  vertical-align: middle;
}

#temperature {
  font-size: 68px;
  font-weight: bold;
}

#celsius {
  margin-right: 10px;
}

#fahrenheit {
  margin-right: 5px;
  color: #b0bec5;
}

#celsius,
#temp-divider,
#fahrenheit {
  font-size: 30px;
  font-weight: 800;
}

#celsius:hover,
#fahrenheit:hover {
  cursor: pointer;
}

.other-details-key {
  float: left;
  font-size: 16px;
  font-weight: 300;
}

.other-details-values {
  float: left;
  font-size: 16px;
  font-weight: 400;
  margin-left: 40px;
}


.location--name {
  font-size: 1.8em;
  padding: 0.1em;
}

.country--name {
  font-size: 1.2em;
  padding: 0.1em;
}

.weather--temp {
  display: flex;
  margin-bottom: 8%;
  color: white;
  font-weight: 500;
  font-size: 3em;
  padding: 0.1em;
}

#temp--icon {
  font-size: 25px;
}

.glass-box {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(255, 255, 255, 0.1); 
  border: 1px solid #dcdcdc;
  border-radius: 30px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.4); 
  width: 370px; 
  height: 700px;
  filter: brightness(15%);
  filter: saturate(65%);
  margin-top: 50em;

}

.glass-box:before {
  position: absolute;
  top: -10px;
  left: 50%;
  width: 10px;
  height: 10px;
  background-color: rgba(255, 255, 255, 0.5);
  border: 1px solid #dcdcdc;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  transform: translateX(-50%) rotate(45deg);
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 25px;
  background-color: rgba(0, 0, 0, 0.1);
}

.wrapper {
  color: white;
}