@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700,900&display=swap');

:root {
  font-family: Montserrat;
}

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', Helvetica, Arial, sans-serif;
}

#map {
  height: 80%;
  width: 80%;
  display: flex;
  margin-left: 10%;
}

.section {
  padding: 50px;
  position: relative;
  margin: auto;
}

.widget-container {
  width: 612px;
  height: 412px;
  display: block;
  background-color: #D9AFD9;
  background-image: linear-gradient(61deg, #D9AFD9 0%, #97D9E1 100%);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  margin: 0 auto;
  margin-top: 5%;
  margin-bottom: 5%;
}

.vertical-center-divider {
  width: 3px;
  position: absolute;
  height: 300px;
  background-color: white;
  float: left;
  transform: translate(233px, -302px);
  z-index: 0
}

.top-left {
  height: 60%;
  width: 33%;
  padding: 55px 0 0 30px;
  display: inline-block;
}

#top-right {
    height: 71.79%;
    width: 60.2%;
    float: right;
    display: inline-block;
    margin-right: 1%;
}

#img-weather {
  z-index: 0;
  position: absolute;
  height: 37.55%;
  width: 13.1%
}

.bottom-left {
  height: 18%;
  width: 30%;
  float: left;
  margin: 0;
  padding: 15px 0 0 50px;
}

.bottom-right {
  height: 0%;
  width: 40%;
  float: right;
  padding: 10px 0 0 60px;
  margin-right: 10%;
}

h1,
h2,
h3,
p {
  margin: 0;
  padding: 0;
}

#city {
  font-weight: 900;
  font-size: 25px;
}

#day {
  font-weight: 700;
  font-size: 25px;
  margin-top: 18px;
}

#date {
  font-weight: 500;
  font-size: 20px;
  margin-top: 4px;
}

#time {
  font-weight: 400;
  font-size: 18px;
  margin-top: 8px;
}

.top-left > a {
  text-decoration: none;
  color: white;
}

#weather-status {
  font-size: 22px;
  font-weight: 500;
  text-align: center;
  margin: 0 auto;
  color: white;
  z-index: 0;
  position: relative;
  margin-top: 4%;
}

.top-right > img {
  width: 120px;
  height: 120px;
  display: block;
  margin: 15px auto 0 auto;
}

.horizontal-half-divider {
  width: 100%;
  height: 3px;
  margin-top: -5px;
  background-color: white;
}

.vertical-half-divider {
  width: 3px;
  position: absolute;
  height: 111px;
  background-color: white;
  float: right;
  display: inline-block;
  padding: 0;
}

#temperature,
#celsius,
#temp-divider,
#fahrenheit {
  display: inline;
  vertical-align: middle;
}

#temperature {
  font-size: 40px;
  font-weight: 700;
  margin-right: 5px;
}

#celsius {
  margin-right: 10px;
}

#fahrenheit {
  margin-right: 5px;
  color: #b0bec5;
}

#celsius,
#temp-divider,
#fahrenheit {
  font-size: 30px;
  font-weight: 800;
}

#celsius:hover,
#fahrenheit:hover {
  cursor: pointer;
}

.other-details-key {
  float: left;
  font-size: 16px;
  font-weight: 300;
}

.other-details-values {
  float: left;
  font-size: 16px;
  font-weight: 400;
  margin-left: 40px;
}


.location--name {
  font-size: 1.8em;
  padding: 0.1em;
}

.country--name {
  font-size: 1.2em;
  padding: 0.1em;
}

.weather--temp {
  display: flex;
  margin-bottom: 8%;
  color: white;
  font-weight: 500;
  font-size: 3em;
  padding: 0.1em;
}

#temp--icon {
  font-size: 25px;
}